.page-header-wrap
{
    position: relative;   
    background: #f6f1eb;
}


#page-header-wrap .block-wrapper
{
    height:74.97px;
   
}

.header-contents-clearfix
{
    padding: 0.76923rem 0;
    height:57.9px;
    position: relative;
    display:flex;
    margin:0px;
    width:100%;

}

.header-contents-clearfix ul
{

    list-style:none;
    padding-left:0px;
    padding-right:0px;
    padding-top:0.5%;;
    display:flex;
   
    height:57.5px;
    line-height:57.5px;
    margin:0px auto;
    box-sizing: border-box;
    width:100%;
   
}

.header-contents-clearfix li
{
    display:inline-flex;
    height:57.5px;  
    line-height:57.5px;
    margin:auto;
   
}


#left
{
    width:100%;
    text-align:left;
    /* background-color:skyblue; */
}
#center
{
    width:100%;
    /* background-color:lightgray; */
    text-align:center;
    margin:0px auto;
    /* border:1px solid gray; */
}
#right
{
    width:100%;
    text-align:right;
    /* background-color:lightgreen; */
    margin:0px;
}

#totalmenu
{
    width:120px;

}

.header-search
{
    width:130px;
    border:1px solid gray;
    height:40px;
    line-height:40px;
    background-color:white;
    padding-left:10px;
    cursor:pointer;
}   
#searchtxt
{
    border:0px;
    width:70%;
}

#searchtxt:focus
{
    outline:none;
}

#logo
{
    width:120px;
    height:100%;
    /* border:1px solid gray; */
    
}
#logo a
{
    /* border:1px solid gray; */
    margin: auto;
    height:100%;

    
    
}
#logo img
{
    width:100px;
}
#right a
{
    text-decoration:none;
    display:block;
    margin: 0px 0px 0px 15px;
    color: rgb(105, 105, 105);
}




/*07 totalMenu */

